.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98vw;
	height: 97vh;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 130px;
	height: 45px;
	padding: 15px;
	background-color: rgb(237, 98, 240, 0.98);
}
.btn_text,
.btn_icon {
	margin: 15px;
}
